main {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

main h1 {
  font-size: 3rem;
  color: orange;
}

#plate-list {
  width: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 1rem;
  margin: 2rem auto;
}

.plate-list-content {
  padding: 0;
  padding-top: 2px;
}

#plate-list li {
  border-radius: 8px;
  background-color: rgb(247, 230, 199);
  overflow: hidden;
  margin: 0.5rem 1rem;
  padding-bottom: 0.7rem;
}

#plate-list img {
  height: 12.5rem;
  width: 100%;
  object-fit: cover;
}

#plate-list h2 {
  margin: 10px auto;
}

#plate-list a {
  margin: 10px auto;
  text-decoration: none;
  background-color: orange;
  padding: 5px 10px;
  border-radius: 8px;
}

#plate-list a:hover {
  background-color: rgb(235, 145, 0);
}

@media (max-width: 48rem) {
  #plate-list {
    grid-template-columns: 1fr;
    width: auto;
    padding: 1rem;
  }
  main h1 {
    font-size: 1.5rem;
  }
}
